# ==========================================
# MASTER CONTROL SWITCH
# ==========================================
# UNCOMMENT the environment you want to run:
# ---> OPTION A: Local Simulation
MQTT_BROKER_URL=

# ---> OPTION B: Production (TTN)
# MQTT_BROKER_URL=

# ==========================================
# INFLUXDB v2.7 CONFIGURATION
# ==========================================
INFLUXDB_USER=
INFLUXDB_PASSWORD=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_TOKEN=

# ==========================================
# GRAFANA CONFIGURATION
# ==========================================
GRAFANA_USER=
GRAFANA_PASSWORD=