# ==========================================
# MASTER CONTROL SWITCH (MQTT)
# ==========================================
# ---> OPTION A: Local Simulation
MQTT_BROKER_URL=
MQTT_TOPIC=
MQTT_USER=
MQTT_PASSWORD=

# ---> OPTION B: Production (TTN)
#MQTT_BROKER_URL=
#MQTT_TOPIC=
#MQTT_USER=
#MQTT_PASSWORD=

# ==========================================
# INFLUXDB v2.7 CONFIGURATION
# ==========================================
INFLUXDB_USER=
INFLUXDB_PASSWORD=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_TOKEN=

# ==========================================
# GRAFANA CONFIGURATION
# ==========================================
GRAFANA_USER=
GRAFANA_PASSWORD=